<div class="main">
    <div class="mainContainer" id="mainContainer">
        <div class="mainInfo">

            <h1 class="sammyNameLarge">
                <!-- (complete)='this.onTypingComplete()' -->
                <span>Sammy Al Hashemi</span>
                <br>
            </h1>
            <img appPictureScroll id="picME" [@pictureAnimation]="this.picExpand" [pagePicturePosition]="0.0" (pictureInPosition)="picInPositions($event)" [src]="this.profileURL" class="img-responsive img-circle margin" alt="Picture of Me" width="350" height="350">
        </div>
    </div>
    <div appPictureScroll [@revealAnimation]="this.secondContainerReveal" [pagePicturePosition]="0.0" (pictureInPosition)="revealSecond($event)" class="secondContainer">
        <div class="extraInfo">

            <div class="whoami">
                <h2>Who am I?</h2>
                <br>
                <p>
                    Hello visitor! My name is Sammy Al Hashemi. I love tennis and tech! I'm currently enrolled in Engineering Science at the University of Toronto and I'm due to graduate in May of 2019. In the menu above, you can find links to my resume and my projects. I am going into my fourth year of Engineering Science at UofT. </p>
            </div>

        </div>
    </div>
    <footer class="footer" role="contentinfo">
        <p>Find me on social media.</p>
        <a class="social-media" href="https://www.facebook.com/sammy.alhashemi " title="Facebook " style="text-decoration: none ">
            <fa-icon [icon]="faFacebook"></fa-icon>
        </a>
        <a class="social-media" href="https://www.instagram.com/sammyalhashemi/ " title="Instagram " style="text-decoration: none ">
            <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
        <a class="social-media" href="https://twitter.com/SammyAlhashemi1 " title="Twitter " style="text-decoration: none ">
            <fa-icon [icon]="faTwitter"></fa-icon>
        </a>
        <a class="social-media" href="https://www.linkedin.com/in/sammy-alhashemi-2a9865a1/ " title="LinkedIn " style="text-decoration: none ">
            <fa-icon [icon]="faLinkedin"></fa-icon>
        </a>
        <a class="social-media" href="https://github.com/Sammyalhashe " title="GitHub " style="text-decoration: none ">
            <fa-icon [icon]="faGithub"></fa-icon>
        </a>
    </footer>
</div>
